<po-page-login
  p-background=""
  p-blocked-url="/"
  p-logo="assets/images/logo-conceitho.png"
  [p-languages]="[]"
  p-product-name="App Base Conceitho Tecnologia"
  [p-literals]="literals"
  [p-hide-remember-user]="false"
  (p-login-submit)="onLoginEvent($event)"
  p-environment="Ambiente de Desenvolvimento"
  >
</po-page-login>

<!--
  [p-authentication-type]="authenticationType"
  p-secondary-logo="assets/images/logo-conceitho.png"
  p-authentication-url="url da api de autenticação" 
 
-->